body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 30px auto auto auto;
  grid-template-areas:
  "hd"
  "nav"
  "sd"
  "main"
  "ft";
  font-family: Avenir Next, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  max-width: 480px;
}
