@import url("bignav.css") screen and (min-width: 481px);
@import url("bigAside.css") screen and (min-width: 481px);
@import url("mobnav.css") screen and (max-width: 480px);
@import url("mobAside.css") screen and (max-width: 480px);
@import url("cardstyle.css");
@import url("headstyle.css");
/* SMALL screen ends at 480px */
@media (max-width: 480px) {
  body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 30px auto auto auto;
    grid-template-areas:
    "hd"
    "nav"
    "sd"
    "main"
    "ft";
    font-family: Avenir Next, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    max-width: 480px;
  }
}
/* LARGE screen starts at 481px (FOR NOW)*/
@media (min-width: 481px) {
  body {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: auto 30px auto;
    grid-template-areas:
        "hd hd"
        "nav nav"
        "main sd"
        "ft ft";
    font-family: Avenir Next, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    min-width: 800px;
  }
}

/* header {
  grid-area: hd;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

h1 {
  letter-spacing: 10px;
  margin: 3px 0px;
  font-size: 50px;
  font-weight: 640;
  line-height: 100%;
}

h2 {
  font-weight: 250;
  margin: auto;
  font-size: 14px;
  letter-spacing: 5px;
  color: #b1b1b1;
}

h3 {
  text-decoration: underline;
  font-size: 1.3em;
  letter-spacing: 3px;
  line-height: 1.5;
  width: 100%;
}

h4 {
  margin: auto;
}

h5 {
  margin: auto;
  font-size: 1.25em;
} */

/* #navbar {
  grid-area: nav;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-color: rgba(211, 211, 211, 0.95);
  display: flex;
  justify-content: space-between;
}

#menu {
  display: flex;
  align-items: center;
  height: 100%;
}

#menu a {
  font-size: 12px;
  letter-spacing: 2px;
  color: #242222 !important;
  text-decoration: none;
  padding: 7px;
}

#blogName {
  color: black;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: 640;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  opacity: 0;
}

#hamburger {
  display: none;
}

#navbar a:hover {
    background: whitesmoke;
}

#navbar a.active {
  background-color: white;
  color: black;
}

#hamburger img {
  height: 100%;
  padding: 0px 5px;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky + body {
  padding-top: 90px;
}

#social {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 180px;
  padding-right: 20px;
  align-items: center;
}

#social img {
  width: 20px;
  vertical-align: middle;
}

#social a {
  padding: 0px 15px;
} */

/* aside {
  grid-area: sd;
  font-style: italic;
  background-color: whitesmoke;
  overflow: hidden;
  padding: 10px;
}

.about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about img {
  width: 100%;
}

.about p {
  font-size: 15px;
} */

main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

/* .card {
  border: solid rgb(92, 25, 47);
  border-radius: 10px;
  box-shadow: 3px 3px 2px lightgray;
  height: 180px;
  width: 100%;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  padding: 10px;
  margin: 10px 0px;
}

.card:hover img {
  opacity: 0.5;
  transition: 0.1s;
}

.card h3 {
  font-size: inherit;
  text-overflow: ellipsis;
  color: #242222;
  padding: 3px 0px;
  margin: 0px;
  text-shadow: -1px 0 2px whitesmoke, 0 1px 2px whitesmoke, 1px 0 2px whitesmoke, 0 -1px 2px whitesmoke
}

.card p {
  overflow: hidden;
  color: #242222;
  margin: 5px 0px;
}

.card img {
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  filter: blur(3px) grayscale(70%) opacity(0.9);
}

.date {
  color: #242222;
  width: 100%;
  text-shadow: -1px 0 2px whitesmoke, 0 1px 2px whitesmoke, 1px 0 2px whitesmoke, 0 -1px 2px whitesmoke;
  background-image: linear-gradient(to right, white 0%);
} */

footer {
  grid-area: ft;
  text-align: center;
  padding: 20px;
}

a:link {
  color: black;
}

a:visited {
  color: darkgray;
}

a:hover {
  color: lightgray;
}

a:active {
  color: black;
}
